#logo{
    height: 25px;
    width: 25px;
    margin: 5px;
}

#inicio{
    display: flex;
    align-items: center;
}

.botoninicio{
    border: 0;
    background: white;
    margin: 5px;

    
}

.botoninicio:hover{
    background: gray;

}

#navbar-pinterest{
    margin: 22px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.finder{
    margin: 5px;
    height: 30px;
    width: 600px;
    border-radius: 10px;
    background: gray;
}

#navfinal{
    display: flex;
    align-items: center;
}

#imagenprofile{
    border-radius: 25px;
}

body{
    
}
